/Debug
/ipch
/build
/lib/*

/matlab/lib/*
/matlab/includes/*
!/matlab/includes/Voxelizer/*
/matlab/solver_log.txt

/bin
/src/Voxelizer
/tests/responses

/python/*
!/python/Data
!/python/testBench.py
!/python/FDTDfilter.py

response.txt
solver_log.txt

*.dll
*~
*.asv
*.exe
*.opensdf
*.sdf
*.user
*.tlog
*.pdb
*.obj
*.log
*.wav
*.mexw64
*.mexa64
*.lib
*.mat
*.bmp
*.skb
*.skp
*.vtk
*.png
*.fig
*.eps
*.tga
*.ply
*.vcxproj
*.vcxproj.filters
*.sln
*.suo
*.slo
*.lo
*.o
*.so
*.lai
*.la
*.a
*.gch

